/* Main CSS file for styling the blog */
/* Subscribe Button Styles */
.subscribe-btn {
  background-color: #ff0037;
  color: white;
  padding: 10px 20px 10px;
  border: none;
  border-radius: 5px;
}

.subscribe-btn:hover {
  background-color: #b30024;
}

/* Dark Theme Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
/* Footer Styles - Part 1 */
.footer {
  background-color: #333;
  color: white;
}
.footer a {
  color: #ddd;
  text-decoration: none;
}
